<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test"
               status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </Console>
        <File name="CrawlerLog" fileName="logs/web-crawler.log">
            <PatternLayout pattern="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com" level="warn">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com" level="trace">
            <AppenderRef ref="CrawlerLog"/>
        </Logger>
        <Root>
            <AppenderRef ref="Console" level="warn"/>
            <AppenderRef ref="CrawlerLog" level="trace"/>
        </Root>
    </Loggers>
</Configuration>